body html{
	height: 100%;
}

.button{
	cursor: pointer;
}

#active{
	background-color: #999;
}

.button:hover{
	background-color: #ccc;
}

.logo{
	width: 200px;
	height: 50px;
}

.main{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 50px;
	left: 200px;
}

tr:nth-child(even){

	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

td:nth-child(even){
	border: none;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

.game{
	background-color: #999;
	margin: 0 auto;
}

.controls{
	background-color: #666;
	height: 50px;
	position: fixed;
}

.controls > * {
	height: 50px;
	padding: 10px;
	box-sizing: border-box;
	display: inline-block;
}

.cell{
	border: none;
}

.marker{
	cursor: pointer;
}